body {
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.header {
    border: solid;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: bisque;
    align-items: center;
    box-sizing: border-box;
}

img {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    grid-column: 3/5
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin: 0;
}

.main {
    border: solid;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 10px;
    box-sizing: border-box;
}

.A, .B, .C, .D {
    border: solid;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    box-sizing: border-box;
}

table, td, th {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

.footer {
    background-color: bisque;
    border: solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}

